.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-left {
  font-size: 35px;
  margin-left: 10vh;
  margin-bottom: 100px;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.content-left h1 {
  font-size: 50px;
}

.right-content {
  margin-right: 100px;
  margin-bottom: 50px;
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.animated-image {
  animation: wiggle 2s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 950px){
  .content-left h1 {
    font-size: 35px;
  }

  .content-left {
    font-size: 25px;
    margin-left: 0vh;
    width: 40%;
    display: flex;
    vertical-align: middle;
    text-align: left;
    flex-direction: column;
  }

  .right-content {
    margin-right: 0px;
    margin-bottom: 0px;
    width: 0%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
  }
}

@media (max-width: 600px){
  .content-left h1 {
    font-size: 25px;
  }

  .content-left {
    margin-left: vh;
    width: 80%;
    display: flex;
    vertical-align: middle;
    text-align: left;
    flex-direction: column;
  }

  .content-left p{
    font-size: 16px;
  }

  .right-content {
    margin-right: 0px;
    margin-bottom: 0px;
    width: 0%;
    display: flex;
    text-align: left;
    flex-direction: column;
    vertical-align: middle;
  }
}