/* App.css */
@font-face {
  font-family: 'Catamaran';
  src: url('./Catamaran/Catamaran-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: "Catamaran", sans-serif;
  color: #0066CC;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.content-container {
  margin-top: 100px; /* Adjust this value to create spacing between navigation and content */
  padding: 20px;
}


.logo {
  display: flex;
  align-items: center;
}

.menu-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #333333;
}

.company-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 50px;
  padding: 0px;
}

li {
  margin-left: 20px;
}

button, a {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  color: #0066CC;
  text-decoration: none;
  padding: 10px 10px;
  transition: color 0.3s ease-in-out;
}

.card-button {
  background-color: #0066CC;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 4px;
}

.card-button:hover {
  background-color: #0052A3;
}

button:hover, a:hover {
  color: #000000;
}

.active {
  font-weight: bold;
  color: #888888;
}

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0066CC;
    color: white;
    width: 30px; 
    height: 30px; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
    border-radius: 10%;
  }
  
  .scroll-to-top:hover {
    opacity: 0.8;
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .service {
    flex-direction: column;
    align-items: center;
    margin: 30px;
    max-width: 200px;
    text-align: center;
  }
  
  .service img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .service h2 {
    font-size: 36px;
    margin-bottom: 5px;
  }
  
  .service h4 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    max-width: 200px;
    text-align: center;
  }
  
  .person img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .person h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .person h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .person p {
    font-size: 12px;
  }

  .content-left {
    font-size: 25px;
    margin-left: 300px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  .content-left h1{
    font-size: 35px;
  }
  
  .right-content {
    padding-top: 20px;
    margin-right: 30px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }

  .content-left-about {
    font-size: 25px;
    margin-left: 300px;
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  .content-left-about h1{
    font-size: 35px;
  }
  
  .right-content-about {
    margin-left: 180px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }

  .shrink-image {
    width: 700px;
    align-items: right;
  }

  .contact-container {
    display: flex;
    margin-top: 50px;
  }
  
  .contact-details {
    flex-basis: 40%;
  }
  
  .contact-form {
    flex-basis: 60%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .contact-details h4,
  .contact-form h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-details p {
    margin: 5px 0;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .contact-form .form-group {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  padding-right:40px;
  border-radius: 5px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  /* padding-right: px; */
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* .modal-content button {
  background: #333;
  color: #fff;
  padding: 16px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
} */

/* .modal-content button[type='submit'] {
  background: #0052A3;
} */

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #aaa;
}