/* review.css */

.review-input{
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 40px;
  border: 1px solid #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

h4 {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.same-area{
  display: flex;
  flex-direction: row;
}

.same-area textarea{
  margin-left: 500px;
  width: 45%;
  height: 125px;
}

.input-review{
  display: flex;
  flex-direction: column;
}

.input-review input{
  padding-right: 150px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 175%
}

.review-input .image-input {
  margin-top: 10px;
}

.review-input .star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.review-input .star {
  font-size: 48px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s;
}

.review-input .star.selected {
  color: #000000;
}