.service-area{
  background-color: #ebebeb;
  flex-direction:  column;
  padding: 10px;
  height: 100%;
}

.service p{
  color: #000;
  font-size: 14px;
  padding-top: 10px;
  text-align: left;
}

.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .service {
    display: inline-block;
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 10vh;
    width: 200px;
    height: 400px;
    text-align: center;
  }

  .service:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
  
  .service img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .service h3 {
    font-size: 20px;
    color: #4a4a4a;
    margin-bottom: 5px;
    text-align: center;
  }
  

